<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


<!--    <servlet>-->
<!--        <servlet-name>RegisterMemberServlet</servlet-name>-->
<!--        <servlet-class>com.member.controller.RegisterMemberServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>RegisterMemberServlet</servlet-name>-->
<!--        <url-pattern>/member/register</url-pattern>-->
<!--    </servlet-mapping>-->


    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>com.member.controller.MemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/member/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderMasterServlet</servlet-name>
        <servlet-class>com.order_master.controller.OrderMasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderMasterServlet</servlet-name>
        <url-pattern>/orderMaster/*</url-pattern>
    </servlet-mapping>

    <!--測試用Servlet-->
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>com.util.ServletTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>
    
   	<!-- product相關 -->
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product_jsp/product.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductServlet_front</servlet-name>
		<servlet-class>com.product.controller.ProductServlet_front</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet_front</servlet-name>
		<url-pattern>/product/*</url-pattern>
	</servlet-mapping>
    

    <!--大吳的0201-->
    <servlet>
        <servlet-name>EmpServlet</servlet-name>
        <servlet-class>com.emp.controller.EmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpServlet</servlet-name>
        <url-pattern>/emp/emp.do</url-pattern>
    </servlet-mapping>
    
    <!--Employee的0201-->
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employee_jsp/employee.do</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/TEA103G2/front-end/my-account.html</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
    <!--配置全局过滤的filter-->
<!--    <filter>-->
<!--        <filter-name>CharacterEncodingFilter</filter-name>-->
<!--        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CharacterEncodingFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

    <!--配置SpringMVC的前端控制器-->
<!--    <servlet>-->
<!--        <servlet-name>DispatcherServlet</servlet-name>-->
<!--        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>contextConfigLocation</param-name>-->
<!--            <param-value>classpath:spring-mvc.xml</param-value>-->
<!--        </init-param>-->
<!--        <load-on-startup>1</load-on-startup>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>DispatcherServlet</servlet-name>-->
<!--        <url-pattern>/</url-pattern>-->
<!--    </servlet-mapping>-->


    <!--全局初始化参数-->
<!--    <context-param>-->
<!--        <param-name>contextConfigLocation</param-name>-->
<!--        <param-value>classpath:applicationContext.xml</param-value>-->
<!--    </context-param>-->

    <!--配置监听器-->
<!--    <listener>-->
<!--        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--    </listener>-->




</web-app>
