<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 100~200行 傑森 -->
	<!-- 200~300行 東陞 -->
	<!-- 300~400行 玉婷 -->
	<!-- 400~500行 語心 -->
	<!-- 500~600行 浩倫 -->
	<!-- 600~700行 垚筠 -->

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.cart.controller.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderMasterServlet</servlet-name>
		<servlet-class>com.order_master.controller.OrderMasterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderMasterServlet</servlet-name>
		<url-pattern>/orderMaster/*</url-pattern>
	</servlet-mapping>


	<!-- product相關 -->

	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product_jsp/product.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductServlet_front</servlet-name>
		<servlet-class>com.product.controller.ProductServlet_front</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet_front</servlet-name>
		<url-pattern>/product/*</url-pattern>
	</servlet-mapping>

	<!-- 本來要給0201用的，後來沒用到先註解 -->
	<!-- <servlet> -->
	<!-- <servlet-name>ProductImageServlet</servlet-name> -->
	<!-- <servlet-class>com.product_image.controller.ProductImageServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>ProductImageServlet</servlet-name> -->
	<!-- <url-pattern>/product_image_jsp/product.do</url-pattern> -->
	<!-- </servlet-mapping> -->


	<!--測試用Servlet -->
	<servlet>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>com.util.ServletTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>




	<!--大吳的0201 -->
	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/emp/emp.do</url-pattern>
	</servlet-mapping>

	<!--Employee的0201 -->
	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employee_jsp/employee.do</url-pattern>
	</servlet-mapping>







	<!--Notice 測試Servlet -->
	<servlet>
		<servlet-name>NoticeServlet</servlet-name>
		<servlet-class>com.notice.controller.NoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeServlet</servlet-name>
		<url-pattern>/notice/*</url-pattern>
	</servlet-mapping>


	<!--LiveSupport 測試 -->
	<servlet>
		<servlet-name>NameServlet</servlet-name>
		<servlet-class>com.live_support.controller.NameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameServlet</servlet-name>
		<url-pattern>/liveSupport_jsp/chat.do</url-pattern>
	</servlet-mapping>











	<!--後台員工 -->
	<servlet>
		<servlet-name>Employee_backendServlet</servlet-name>
		<servlet-class>com.employee.controller.Employee_backendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Employee_backendServlet</servlet-name>
		<url-pattern>/employee/*</url-pattern>
	</servlet-mapping>






























































































































































	<!-- ProductImage 玉婷 -->
	<servlet>
		<servlet-name>ProductImageServlet</servlet-name>
		<servlet-class>com.product_image.controller.ProductImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductImageServlet</servlet-name>
		<url-pattern>/productImage/*</url-pattern>
	</servlet-mapping>



















































































	<!--HistoryCommentOrderMasterServlet 用在載入歷史評價的order_master_id們 -->
	<servlet>
		<servlet-name>HistoryCommentOrderMasterServlet</servlet-name>
		<servlet-class>com.order_master.controller.HistoryCommentOrderMasterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryCommentOrderMasterServlet</servlet-name>
		<url-pattern>/historyCommentOrderMaster/*</url-pattern>
	</servlet-mapping>

	<!--OrderDetailServlet 沒用到 -->
	<!-- <servlet> -->
	<!-- <servlet-name>OrderDetailServlet</servlet-name> -->
	<!-- <servlet-class>com.order_detail.controller.OrderDetailServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>OrderDetailServlet</servlet-name> -->
	<!-- <url-pattern>/orderDetail/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!--HistoryCommentOrderDetailServlet 用在載入歷史評價的order_detail_id們 -->
	<servlet>
		<servlet-name>HistoryCommentOrderDetailServlet</servlet-name>
		<servlet-class>com.order_detail.controller.HistoryCommentOrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryCommentOrderDetailServlet</servlet-name>
		<url-pattern>/historyCommentOrderDetail/*</url-pattern>
	</servlet-mapping>

	<!--HistoryCommentProductServlet 沒用到 -->
	<!-- <servlet> -->
	<!-- <servlet-name>HistoryCommentProductServlet</servlet-name> -->
	<!-- <servlet-class>com.order_master.controller.HistoryCommentProductServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>HistoryCommentProductServlet</servlet-name> -->
	<!-- <url-pattern>/historyCommentProduct/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!--ReviewImageUploadServlet 用在載入歷史評價內的評論照片等任何呼叫評論照片的setReview_image() -->
	<servlet>
		<servlet-name>ReviewImageUploadServlet</servlet-name>
		<servlet-class>com.review_image_upload.controller.ReviewImageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewImageUploadServlet</servlet-name>
		<url-pattern>/reviewImageUpload/*</url-pattern>
	</servlet-mapping>

	<!--YetToLeaveCommentServlet 用在載入尚未評價頁面 -->
	<servlet>
		<servlet-name>YetToLeaveCommentServlet</servlet-name>
		<servlet-class>com.member_comment.controller.YetToLeaveCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetToLeaveCommentServlet</servlet-name>
		<url-pattern>/yetToLeaveComment/*</url-pattern>
	</servlet-mapping>

	<!--MemberCommentServlet 用在尚未評價頁面, 顧客能填寫尚未評論 -->
	<servlet>
		<servlet-name>MemberCommentServlet</servlet-name>
		<servlet-class>com.member_comment.controller.MemberCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberCommentServlet</servlet-name>
		<url-pattern>/memberComment/*</url-pattern>
	</servlet-mapping>

	<!--ProductCommentServlet 用在商品頁面, 載入顧客們對該商品的評論 -->
	<servlet>
		<servlet-name>ProductCommentServlet</servlet-name>
		<servlet-class>com.member_comment.controller.ProductCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductCommentServlet</servlet-name>
		<url-pattern>/productComment/*</url-pattern>
	</servlet-mapping>

	<!--ListMemberCommentServlet 用在後臺顯示所有顧客評論 -->
	<servlet>
		<servlet-name>ListMemberCommentServlet</servlet-name>
		<servlet-class>com.dealer_reply.controller.ListMemberCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListMemberCommentServlet</servlet-name>
		<url-pattern>/listMemberComment/*</url-pattern>
	</servlet-mapping>

	<!--DealerReplyServlet 用在後臺新增回覆顧客評論 -->
	<servlet>
		<servlet-name>DealerReplyServlet</servlet-name>
		<servlet-class>com.dealer_reply.controller.DealerReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealerReplyServlet</servlet-name>
		<url-pattern>/dealerReply/*</url-pattern>
	</servlet-mapping>

	<!--BucketListServlet 用在前臺加入收藏 -->
	<servlet>
		<servlet-name>BucketListServlet</servlet-name>
		<servlet-class>com.bucket_list.controller.BucketListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BucketListServlet</servlet-name>
		<url-pattern>/bucketList/*</url-pattern>
	</servlet-mapping>



























































































	<servlet>
		<servlet-name>AmServlet</servlet-name>
		<servlet-class>com.announcement_management.controller.AmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AmServlet</servlet-name>
		<url-pattern>/am/am.do</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>AmServletF</servlet-name>
		<servlet-class>com.announcement_management.controller.AmServletF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AmServletF</servlet-name>
		<url-pattern>/announcement_management/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CouponCodeServletJsp</servlet-name>
		<servlet-class>com.coupon_code.controller.CouponCodeServletJsp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponCodeServletJsp</servlet-name>
		<url-pattern>/coupon_code_jsp/cc.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CouponCodeServlet</servlet-name>
		<servlet-class>com.coupon_code.controller.CouponCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponCodeServlet</servlet-name>
		<url-pattern>/coupon_code/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>CouponServletJsp</servlet-name>
		<servlet-class>com.coupon.controller.CouponServletJsp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponServletJsp</servlet-name>
		<url-pattern>/coupon_jsp/coupon.do</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>CouponServlet</servlet-name>
		<servlet-class>com.coupon.controller.CouponServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponServlet</servlet-name>
		<url-pattern>/coupon/*</url-pattern>
	</servlet-mapping>








































































































































































































































	<!--前台登入過濾器 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/TEA103G2/front-end/my-account.html</url-pattern>
		<url-pattern>/TEA103G2/front-end/cart.html</url-pattern>
		<url-pattern>/TEA103G2/front-end/checkout.html</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<!--後台登入全局過濾器 -->
	<!-- <filter> -->
	<!-- <filter-name>backendLoginFilter</filter-name> -->
	<!-- <filter-class>com.filter.BackendLoginFilter</filter-class> -->
	<!-- <init-param> -->
	<!-- <param-name>excludedPages</param-name> -->
	<!-- <param-value>/TEA103G2/back-end/login.html</param-value> -->
	<!-- </init-param> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>backendLoginFilter</filter-name> -->
	<!-- <url-pattern>/TEA103G2/back-end/employee.html</url-pattern> -->
	<!-- <dispatcher>REQUEST</dispatcher> -->
	<!-- <dispatcher>FORWARD</dispatcher> -->
	<!-- <dispatcher>INCLUDE</dispatcher> -->
	<!-- <dispatcher>ERROR</dispatcher> -->
	<!-- <dispatcher>ASYNC</dispatcher> -->
	<!-- </filter-mapping> -->




	<!--配置SpringMVC的前端控制器 -->
	<!-- <servlet> -->
	<!-- <servlet-name>DispatcherServlet</servlet-name> -->
	<!-- <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
	<!-- <init-param> -->
	<!-- <param-name>contextConfigLocation</param-name> -->
	<!-- <param-value>classpath:spring-mvc.xml</param-value> -->
	<!-- </init-param> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>DispatcherServlet</servlet-name> -->
	<!-- <url-pattern>/</url-pattern> -->
	<!-- </servlet-mapping> -->


	<!--全局初始化参数 -->
	<!-- <context-param> -->
	<!-- <param-name>contextConfigLocation</param-name> -->
	<!-- <param-value>classpath:applicationContext.xml</param-value> -->
	<!-- </context-param> -->

	<!--配置监听器 -->
	<!-- <listener> -->
	<!-- <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
	<!-- </listener> -->




</web-app>
